.ListCollection {
margin-right: 60px;
}

.ListCollection h3 {
    font-weight: 400;
    margin: 0;
}

.ListCollection p {
    font-weight: 300;
    margin: 0;
}

.ListCollection h5 {
    font-weight: 400;
    color: #d23f6c;
    margin-top: 0;
}

.ListCollection__Comics {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}