.ComicList {
    display: flex;
    flex-direction: column;
    margin: 30px 380px 50px 380px;
}

.ComicList__container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: left;
}

.ComicList h1 {
    margin-left: 40px;
    font-weight: 400;
}

.ComicList__error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}