.Lists {
    display: flex;
    flex-direction: column;
    margin: 30px 420px 50px 420px;
}

.Lists h1 {
    font-weight: 400;
}

.Lists__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}