.ListForm {
    display: flex;
    justify-content: center;
}

.ListForm form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.ListForm form label {
    margin-bottom: 10px;
    font-weight: 400;
}

.ListForm__title {
    margin-bottom: 30px;
    border: 1px rgb(187, 187, 187) solid;
    border-radius: 5px;
    padding: 10px 5px;
}

.ListForm__description {
    margin-bottom: 10px;
    border: 1px rgb(187, 187, 187) solid;
    border-radius: 5px;
    padding: 10px 5px;
}

.ListForm textarea {
    height: 90px;
    width: 350px;
    border: 1px rgb(187, 187, 187) solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 5px;
}

.ListForm form button {
    transition: all .4s ease;
    color: #e7e7e7;
    border: 1px solid #333333;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    font-weight: 600;
    background-color : #333333;
    padding: 10px 5px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.ListForm form button:hover{
    color: #333333;
    background-color: transparent;
}