.newComicsList {
    display: flex;
    flex-direction: column;
    margin: 30px 385px 50px 385px;
}

.newComicsList__container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: left;
}

.newComicsList h1 {
    margin-left: 40px;
    font-weight: 400;
}

.newComicsList__error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}