.ComicDetail__body {
    display: flex;
    margin: 70px 400px;
}

.ComicDetail__body__image img {
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 40px -7px;
    margin-right: 60px;
    margin-bottom: 30px;
}

.ComicDetail__body__image button {
    transition: all .4s ease;
    color: #d23f6c;
    border: 1px solid #333333;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    font-weight: 600;
    background-color : #333333;
    padding: 10px 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.ComicDetail__body__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.ComicDetail__body__form select {
    border: 1px rgb(187, 187, 187) solid;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: white;
    cursor: pointer;
}

.ComicDetail__body__form label {
    margin-bottom: 10px;
}

.ComicDetail__body__image button:hover {
    color: #333333;
    background-color: transparent;
}

.ComicDetail__body__image {
    display:flex;
    flex-direction: column;
}

.ComicDetail__body__info h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.ComicDetail__body__info__description p {
    margin-bottom: 50px;
}

.ComicDetail__body__info__description em {
    font-style: normal;
}

.ComicDetail__body__info__description h4 {
    margin-bottom: 20px;
}

.ComicDetail__body__info__description table {
    flex-direction: column;
    border: 1px rgb(187, 187, 187) solid;
    border-radius: 5px;
    width: fit-content;
    border-collapse: collapse;
}

.ComicDetail__body__info__description thead {
    background-color: rgb(221, 221, 221);
    text-align: left;
    vertical-align: middle;
    justify-content: space-between;
}

.ComicDetail__body__info__description th:last-child {
    text-align: center;
}

.ComicDetail__body__info__description th {
    padding: 5px 10px;
}

.ComicDetail__body__info__description tbody {
    text-align: left;
    vertical-align: middle;
}

.ComicDetail__body__info__description td:last-child {
    text-align: center;
}

.ComicDetail__body__info__description td {
    padding: 5px 10px;
}

.ComicDetail__body__info__description a {
    color: black;
}

.ComicDetail__comment {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 400px;
}

.ComicDetail__comment h2 {
    font-weight: 100;
    margin-bottom: 0;
}

.ComicDetail__Link {
    transition: all .4s ease;
    color: #e7e7e7;
    border: 1px solid #333333;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    font-weight: 600;
    background-color : #333333;
    padding: 10px 5px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    margin-top: 10px;
}

.ComicDetail__Link a:hover {
    color: #333333;
    background-color: transparent;
}